footer.flex.items-center.justify-between.p-4.bg-white.border-t(class='dark:bg-darker dark:border-primary-darker')
  div Shop &copy; 2021
  div Made by 
    a.text-blue-500(href='https://www.facebook.com/DoubleDDat/', target='_blank', class='hover:underline') D.Dat 
        