.order-history {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: rgb(132, 99, 99);
}
.order-history-img {
	display: flex;
	border-radius: 3px;
	margin-right: 10px;
}

.order-history-info {
	margin-left: 10px;
}

.history-info-name {
	margin-top: 6px;
	font-weight: 700;
}

.history-info-label {
	display: inline-block;
	padding: 8px;
	font-size: 75%;
	font-weight: 700;
	color: rgb(0, 0, 0);
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em;
}

.history-info-group-name {
	background-color: #5bc0de;
}

.history-info-group-waiting {
	cursor: default;
	background-color: #d6c90f;
}
.history-info-group-canceled {
	cursor: default;
	background-color: #d50505;
}
.history-info-group-accepted {
	cursor: default;
	background-color: #0faf14;
}

.history-info-made-name {
	text-decoration: none;
}

.history-info-made-name:hover {
	opacity: 0.6;
	text-decoration: underline;
}
.info-need {
	color: #000;
	font-weight: bold;
}
.history-info-btn {
	display: flex;
}
