* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow-wrap: break-word;
}

html {
	font-family: 'Roboto', sans-serif;
	color: #666;
}

.order {
	background-color: #dfdddd;
	padding-top: 10px;
	border: 3px solid #dfdddd;
}

.order-status-id {
	font-size: 20px;
	color: rgb(0, 0, 0);
	display: flex;
}

.order-status-result {
	color: black;
	font-size: 20px;
	margin: 0;
}

.order-status-total {
	display: flex;
	justify-content: space-between;
}

.order-status-view {
	text-decoration: none;
	color: rgb(23, 139, 247);
}

.order-status-view:hover {
	text-decoration: underline;
}

.order-notify > p {
	font-weight: 500;
	color: #333;
}

.notify-result {
	display: flex;
	background-color: #fff;
	width: 100%;
	min-height: 50px;
	padding: 10px;
	border-radius: 5px;
	margin-right: 24px;
	color: #444;
}

.notify-result > span {
	font-size: 16px;
}

.main-info-title {
	margin-top: 40px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #000;
}

.main-info-content {
	background-color: #fff;
	padding: 10px;
	font-size: 14px;
	line-height: 16px;
	display: block;
	min-height: 90px;
	border-radius: 5px;
}

.main-info-content-name {
	margin-bottom: 10px;
	font-weight: bold;
	color: #000;
}

.main-info-content-doc {
	margin: 5px 0;
	font-size: 14px;
	color: #444;
}

.order-product {
	box-shadow: 0 1px 2px #e0e0e0;
}

.product-header-bar {
	display: flex;
	align-items: center;
	background-color: #fff;
	margin-top: 20px;
	padding: 10px 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.product-header-label {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.product-contain {
	background-color: #e8e8e8;
	border-bottom: 1px solid rgb(184, 184, 184);
}

.product-img {
	padding: 10px 0;
}

.product-name {
	padding: 10px 0;
	margin: 0;
}

.product-cost {
	padding: 10px 0;
	text-align: center;
}

.product-quantity {
	padding: 10px 0;
	text-align: center;
}

.product-sell-off {
	padding: 10px 0;
	text-align: center;
}

.product-cost-sum {
	padding: 10px 0;
	text-align: center;
}

.product-total {
	display: flex;
	justify-content: flex-end;
}
.product-total-item-totalPayment {
	color: rgb(184, 0, 0);
	padding: 10px 0;
	text-align: end;
}
.product-total-item {
	padding: 10px 0;
	text-align: end;
}
.box-final-order {
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.footer__bottom {
	padding: 8px 0;
	background-color: #fff;
	margin-top: 36px;
	position: relative;
	bottom: 0;
}

.footer__text {
	margin: 0;
	text-align: center;
	font-size: 14px;
	color: #737373;
}

/* responsive */

/* Tablet & Mobile */
@media only screen and (max-width: 1023px) {
	.order-status-id {
		display: block;
	}
	.product-name {
		text-overflow: ellipsis;
		overflow: hidden;
		max-height: 50px;
	}
}
.notify-result-date {
	font-weight: bold;
	color: #000;
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
	.main-info-content {
		min-height: 110px;
	}
}

/* Mobile */
@media only screen and (max-width: 739px) {
	.notify-result {
		flex-wrap: wrap;
	}
	.notify-result-date {
		text-align: center;
		margin-bottom: 10px;
	}
	.main-info-title {
		text-align: center;
	}
	.order-status-total {
		display: block;
		margin-top: 10px;
	}
}
.order-date {
	font-weight: bold;
	color: #000;
}
