doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      title Shop|Dashboard
      link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap', rel='stylesheet')
      link(rel='stylesheet', href='/css/tailwind.css')
      link(rel="shortcut icon" href="#")
      link(rel='stylesheet', href='/css/tableGeneric.css')    
  body
    div(x-data='setup()', x-init="$refs.loading.classList.add('hidden'); setColors(color);", :class="{ 'dark': isDark}")
      .flex.h-screen.antialiased.text-gray-900.bg-gray-100(class='dark:bg-dark dark:text-light')
        // Loading screen
        .fixed.inset-0.z-50.flex.items-center.justify-center.text-2xl.font-semibold.text-white.bg-primary-darker(x-ref='loading')
          | Loading.....
        
        // Sidebar
        include ../layouts/sidebar.pug        
        
        .flex-1.h-full.overflow-x-hidden.overflow-y-auto
          // Navbar
          include ../layouts/navbar.pug

          block content 
            // Main content
            main(style='min-height:100%;')
           
          // Main footer
          include ../layouts/footer.pug

        // Panels
        // Settings Panel
        // Backdrop
        include ../layouts/panel.pug
    
    script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js')
    //-jquery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    //-axios
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js')
    //-alert
    script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
    script(src='/js/script1Dashboard.js')
    script(src='/js/script2Dashboard.js')
    script.
      $("#MyBtnLogout").click( async function(){
          try{
            const res = await axios({
              method: 'GET',
              url: 'http://127.0.0.1:3000/api/users/sing-out',       	
            })
            if(res.data.status === 'success'){
              location.assign('/admin/sing-in')
            }
          }catch(err){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong, can not sing out now! please try again',
              })
        }
      })
      $('#btn-click-hide-show-menu-d-shop').prop('checked', true);
      $('#btn-click-hide-show-menu-d-shop').change(function(){
        if(this.checked){
          $("#img-click-hide-show-menu-d-shop").text('✖️')
          $('.menu-d-shop').show()
        }else{
          $("#img-click-hide-show-menu-d-shop").text('➕')
          $('.menu-d-shop').hide()
        }
      })      